<div align="center">
    <form name="behaviourForm">
    <div class="table-responsive">
        <h4 style="text-align:inherit">
            The following statements relate to <strong>support for behavioural issues</strong>
        </h4>
        <table class="table table-condensed" style="width:60%">
            <tbody>
            <tr>
                <th style="width:28%"></th>
                <th style="width:12%" ng-repeat="option in options">
                    {{ option.name }}
                </th>
            </tr>
            <tr ng-repeat="s in answer.s4">
                <th style="width:28%"><h5>{{ s.q }}</h5></th>
                <td style="width:12%" ng-repeat="option in s.options">
                    <div class="radio radio-danger radio-inline">
                        <input type="radio" required ng-model="s.a" name="{{ s.name }}" ng-id="{{ s.name }}" value="{{ option.value }}" />
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h4 style="text-align:inherit">
            The following statements relate to the <strong>relationship with management</strong> at your school
        </h4>
        <table class="table table-condensed" style="width:60%">
            <tbody>
            <tr>
                <th style="width:28%"></th>
                <th style="width:12%" ng-repeat="option in options">
                    {{ option.name }}
                </th>
            </tr>
            <tr ng-repeat="s in answer.s5">
                <th style="width:28%"><h5>{{ s.q }}</h5></th>
                <td style="width:12%" ng-repeat="option in s.options">
                    <div class="radio radio-danger radio-inline">
                        <input type="radio" required ng-model="s.a" name="{{ s.name }}" ng-id="{{ s.name }}" value="{{ option.value }}" />
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <h4 style="text-align:inherit">
            The following statements relate to <strong>training and career opportunities</strong> at your school
        </h4>
        <table class="table table-condensed" style="width:60%">
            <tbody>
            <tr>
                <th style="width:28%"></th>
                <th style="width:12%" ng-repeat="option in options">
                    {{ option.name }}
                </th>
            </tr>
            <tr ng-repeat="s in answer.s6">
                <th style="width:28%"><h5>{{ s.q }}</h5></th>
                <td style="width:12%" ng-repeat="option in s.options">
                    <div class="radio radio-danger radio-inline">
                        <input type="radio" required ng-model="s.a" name="{{ s.name }}" ng-id="{{ s.name }}" value="{{ option.value }}" />
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <a href="#/quality" class="btn btn-danger" ng-click="saveAnswer()"> >> </a>
        </form>
</div>