<div align="center">
<h4>
    The following question relates to <strong>the general atmosphere </strong>at your school<br>
    <br>
    Which <strong>three </strong>words best describe your school?
</h4>
<ul class="list-unstyled">
    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="care=false" ng-class="care ? 'btn-danger' : 'btn-default'" ng-click="care = (care == true ? false : true)">Caring</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="trust=false" ng-class="trust ? 'btn-danger' : 'btn-default'" ng-click="trust = (trust == true ? false : true)">Trusting</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="efficient=false" ng-class="efficient ? 'btn-danger' : 'btn-default'" ng-click="efficient = (efficient == true ? false : true)">Efficient</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="relax=false" ng-class="relax ? 'btn-danger' : 'btn-default'" ng-click="relax = (relax == true ? false : true)">Relaxed</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="appreciate=false" ng-class="appreciate ? 'btn-danger' : 'btn-default'" ng-click="appreciate = (appreciate == true ? false : true)">Appreciative</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="religion=false" ng-class="religion ? 'btn-danger' : 'btn-default'" ng-click="religion = (religion == true ? false : true)">Religious</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="forward=false" ng-class="forward ? 'btn-danger' : 'btn-default'" ng-click="forward = (forward == true ? false : true)">Forward Thinking</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="unappreciate=false" ng-class="unappreciate ? 'btn-danger' : 'btn-default'" ng-click="unappreciate = (unappreciate == true ? false : true)">Unappreciative</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="poor=false" ng-class="poor ? 'btn-danger' : 'btn-default'" ng-click="poor = (poor == true ? false : true)">Poorly Run</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="pressure=false" ng-class="pressure ? 'btn-danger' : 'btn-default'" ng-click="pressure = (pressure == true ? false : true)">Pressurised</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="inefficient=false" ng-class="inefficient ? 'btn-danger' : 'btn-default'" ng-click="inefficient = (inefficient == true ? false : true)">Inefficient</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="uncare=false" ng-class="uncare ? 'btn-danger' : 'btn-default'" ng-click="uncare = (uncare == true ? false : true)">Uncaring</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="friend=false" ng-class="friend ? 'btn-danger' : 'btn-default'" ng-click="friend = (friend == true ? false : true)">Friendly</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="communal=false" ng-class="communal ? 'btn-danger' : 'btn-default'" ng-click="communal = (communal == true ? false : true)">Communal</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="old=false" ng-class="old ? 'btn-danger' : 'btn-default'" ng-click="old = (old == true ? false : true)">Old Fashioned</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="paranoid=false" ng-class="paranoid ? 'btn-danger' : 'btn-default'" ng-click="paranoid = (paranoid == true ? false : true)">Paranoid</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="untrust=false" ng-class="untrust ? 'btn-danger' : 'btn-default'" ng-click="untrust = (untrust == true ? false : true)">Untrusting</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="exam=false" ng-class="exam ? 'btn-danger' : 'btn-default'" ng-click="exam = (exam == true ? false : true)">Exam Focused</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="support=false" ng-class="support ? 'btn-danger' : 'btn-default'" ng-click="support = (support == true ? false : true)">Supportive</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="academic=false" ng-class="academic ? 'btn-danger' : 'btn-default'" ng-click="academic = (academic == true ? false : true)">Academic</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="well=false" ng-class="well ? 'btn-danger' : 'btn-default'" ng-click="well = (well == true ? false : true)">Well Run</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="bully=false" ng-class="bully ? 'btn-danger' : 'btn-default'" ng-click="bully = (bully == true ? false : true)">Bullying</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="round=false" ng-class="round ? 'btn-danger' : 'btn-default'" ng-click="round = (round == true ? false : true)">Rounded Education</button></li></div>

    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="inclusive=false" ng-class="inclusive ? 'btn-danger' : 'btn-default'" ng-click="inclusive = (inclusive == true ? false : true)">Inclusive</button></li></div>

    <hr/>

    <div class="table-responsive">
        <h4>
            The following question relates to <b>working hours</b> at your school
        </h4>
        <table class="table table-condensed" style="width:60%">
            <tbody>
            <tr>
                <th style="width:28%"><h5>How many hours (on average) do you work a week?</h5></th>
                <td style="width:80%;"><div style="margin-top:20px" id="slider"></div></td><td><label style="margin-top:20px">{{ workhours }}</label></td>
            </tr>
            </tbody>
        </table>
    </div>

    <a href="#/response" class="btn btn-danger"> >> </a>
</ul>
</div>