<div style="text-align: center">
<h4><strong>What is your role at your school?</strong><span>(can choose more than one)</span></h4>
<ul class="list-unstyled">
    <div class="form-group"><li><button class="btn btn-lg btn-block" ng-init="role.ft=false" ng-class="role.ft ? 'btn-danger' : 'btn-default'" ng-click="role.ft = (role.ft == true ? false : true)">Teacher (Full Time)</button></li></div>

    <div class="form-group"><li><button class="btn btn-default btn-lg btn-block" ng-init="role.pt=false" ng-class="role.pt ? 'btn-danger' : 'btn-default'" ng-click="role.pt = (role.pt == true ? false : true)">Teacher (Part Time)</button></li></div>

    <div class="form-group"><li><button class="btn btn-default btn-lg btn-block" ng-init="role.ta=false" ng-class="role.ta ? 'btn-danger' : 'btn-default'" ng-click="role.ta = (role.ta == true ? false : true)">Teacher Assistant/ Support Assistant</button></li></div>

    <div class="form-group"><li><button class="btn btn-default btn-lg btn-block" ng-init="role.sm=false" ng-class="role.sm ? 'btn-danger' : 'btn-default'" ng-click="role.sm = (role.sm == true ? false : true)">Senior Management</button></li></div>

    <div class="form-group"><li><button class="btn btn-default btn-lg btn-block"  ng-init="role.hod=false" ng-class="role.hod ? 'btn-danger' : 'btn-default'" ng-click="role.hod = (role.hod == true ? false : true)">Head of Year / Department / Faculty</button></li></div>

    <div class="form-group"><li><button class="btn btn-default btn-lg btn-block"  ng-init="role.mentor=false" ng-class="role.mentor ? 'btn-danger' : 'btn-default'" ng-click="role.mentor = (role.mentor == true ? false : true)">Mentor</button></li></div>

    <div class="form-group"><li><button class="btn btn-default btn-lg btn-block"  ng-init="role.admin=false" ng-class="role.admin ? 'btn-danger' : 'btn-default'" ng-click="role.admin = (role.admin == true ? false : true)">Administrative</button></li></div>

    <div class="form-group"><li><button class="btn btn-default btn-lg btn-block"  ng-init="role.prem=false" ng-class="role.prem ? 'btn-danger' : 'btn-default'" ng-click="role.prem = (role.prem == true ? false : true)">Premises</button></li></div>

    <div class="form-group"><li><button class="btn btn-default btn-lg btn-block"  ng-init="role.other=false" ng-class="role.other ? 'btn-danger' : 'btn-default'" ng-click="role.other = (role.other == true ? false : true)">Others (Please State)</button></li>
    <input type="text" class="form-control" ng-model="role.otherRole" /></div>

    <div class="form-group"><li><button class="btn btn-default btn-lg btn-block"  ng-init="role.na=false" ng-class="role.na ? 'btn-danger' : 'btn-default'" ng-click="role.na = (role.na == true ? false : true)">I don't work at a school</button></li></div>

    <a href="#/personal" class="btn btn-danger" ng-click="saveRole()"> >> </a>
</ul>
</div>